*.iml
.gradle/
/local.properties
/.idea/
.DS_Store
/build/
/app/build/
/dueday/build/
/captures/
*.apk
*.ap_
*.aab
*.dex
*.class
keystore.properties
*.jks
!app/keystore/cardvault-release.jks
*.keystore

.cxx/
/app/release/
/app/debug/
!dist/*.apk
!gradle/wrapper/gradle-wrapper.jar
